<footer>
   <h2>Email: sklep@gmail.com</h2>
   <h2>Phone: +12 3456789</h2>
   <h2><a href="https://github.com/LevKarakash" target="_blank">GitHub: https://github.com/LevKarakash</a></h2>
</footer>